<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间为全类名-->
<mapper namespace="com.mapper.CollectionMapper">
    <resultMap id="CollectionResultMap" type="Collections">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="store_id" property="storeId"/>
    </resultMap>

    <select id="selectByStudentAndStore" resultMap="CollectionResultMap">
        SELECT id
        FROM collections
        WHERE student_id = #{studentId}
          AND store_id = #{storeId}
    </select>

    <insert id="insertStudentCollectStore">
        INSERT INTO collections(student_id, store_id)
        VALUES (#{studentId}, #{storeId})
    </insert>

    <delete id="delStudentCollectStore">
        DELETE
        FROM collections
        WHERE student_id = #{studentId}
          AND store_id = #{storeId}
    </delete>
</mapper>